.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  min-height: 80px;
  background-color: lightgray;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
